body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar barras de desplazamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegurarse de que la página ocupe toda la altura de la ventana */
    background-color: black; /* Fondo negro para el efecto de desvanecimiento */
}

.image-container {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    height: 100%; /* Ocupa el 100% de la altura disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la imagen dentro del contenedor sin deformarla ni recortarla */
    transition: opacity 1s ease-out; /* Efecto de transición para el desvanecimiento */
}
